__pycache__/
*.py[cod]
*$py.class

venv/
env/
.env
.venv/

.ipynb_checkpoints
*/.ipynb_checkpoints/*

models/
spark-warehouse/
metastore_db/
derby.log

.vscode/
.idea/
*.swp

*.log
.DS_Store
Thumbs.db